body{
    background-color: black;
    color: white;
}

.number{
    padding-top: 5%;
    font-size: 80px;
    text-align: center;      
}

.line{
    margin-top: 4em;
    height: 10px;
    background: white;
}

button{
    padding: 20px;
    font-size: 30px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}

.top_container{
    padding-top: 5px;
    justify-content: space-between;
    display: flex;
}

div{
    font-size: 30px;
    text-align: center;
}

.question_mark{
    background-color: white;;
    color: black;
    padding: 45px 55px;
    font-size: 90px;
    font-weight: bolder;
    width: 80px;
    margin-left: 45%;
    margin-top: -1em;
}

input{
    background-color: black;
    border: 5px solid white;
    font-size: 50px;
    padding: 20px;
    width: 150px;
    margin-bottom: 20px;
    color: white;
    margin-top: 10px;
    margin-left: 2em;
    font-weight: bolder;
}

input, input::placeholder {
    text-align: center; 
}

.check_btn{
    margin-left: 3.5em;
}


.bottom_container{
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
}

.guessing{
    font-size: 1.5em;
}

